@keyframes fall {
  0% {
    transform: translateY(-10%) rotate(0deg);
    opacity: 0.8;
  }
  50% {
    transform: translateY(50%) rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.animate-fall {
  animation: fall linear forwards;
}

.heart {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
